<!-- <mat-toolbar color="primary"> -->
    <!-- <button *ngIf="false" mat-button class="side-nav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button> -->
    <!-- <button *ngIf="showToggleButton" mat-button class="side-nav-toggle" (click)="toggleSidenav.emit()"> -->
        <!-- <mat-icon>menu</mat-icon> -->
        <!-- <mat-icon>notifications_active</mat-icon> -->
        <!-- <span class="bell fa fa-bell"></span>
    </button> -->
    <!-- <span>Contacts Manager</span> -->
    <!-- <img [routerLink]="['/']" src="../../../../assets/images/webridge_logoTest.png"> -->


    <!-- <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/shell/aboutWebridge']">About WeBridge</button>
        <button mat-menu-item [routerLink]="['/shell/contactus']">Contact Us</button>
        <button mat-menu-item *ngIf="showSignOutButton" (click)="signOut()">Sign Out</button>
    </mat-menu>

</mat-toolbar> -->